*{
	margin:0;
	padding:0;
	
}

.searchContainer{
	width:100%;
	position:relative;
	
}

#h_one {
    font-family:'Lobster';
    font-size: 59px;
    line-height: 60px;
	
	text-align: center;
    padding-top: 9%;
    color: aquamarine;
	text-shadow: 4px 4px 4px #aaa;
}

#h_two{
font-family: 'Tangerine', serif;
 padding-top: 10%;
    padding-left: -2%;
    font-size: 270%;
    text-align: center;
    text-decoration: blink;
	color:white;
	 text-shadow: 4px 4px 4px #aaa;
}


.searchBox{
	width: 574px;
    text-align: center;
    border-color: white;
    border-width: medium;
    margin-left: -94%;
    border: 15px solid navy;
    border-radius: 10px;
	height:10%;
	font-family:'Lobster';
	text-align:left;
}

.suggestionList{
	list-style-type:none;
	background: #777;
	color:#eee;
	 margin-left: -94%;
	width: 558px;
	height:10%;
	padding:5%;
	font-family:'Lobster';
	
}

.suggestionList:hover{
	background: #999;
	font-family:'Lobster';
}

#sl
{
  padding-left: 12%;
    list-style-type: none;
	font-family: 'Tangerine', serif;
	font-size: 220%;
	text-decoration: blink;
	color:white;
}


.highlight
{
color :navy;
}
